In [1]:
import pandas as pd

In [2]:
point_panel_in = "../data/interim/point_panel.parquet"
line_panel_in = "../data/interim/line_panel.parquet"
tract_panel_in = "../data/interim/tract_panel.parquet"

# Pipeline in

In [3]:
point_panel = pd.read_parquet(point_panel_in)
line_panel = pd.read_parquet(line_panel_in)
tract_panel = pd.read_parquet(tract_panel_in)

# Cardinality

## Units

In [4]:
pd.concat([point_panel.groupby('transit')['id'].nunique().rename('point'),
            line_panel.groupby('transit')['id'].nunique().rename('line'),
            tract_panel.groupby('transit')['id'].nunique().rename('tract')],
            axis=1)
# This is ok.

          point   line   tract
transit
bike     1652.0    NaN   654.0
train     144.0    8.0   114.0
bus         NaN  127.0     NaN
uber        NaN    NaN  1264.0

## Date

In [5]:
pd.concat([point_panel.groupby('transit')['date'].nunique().rename('point'),
            line_panel.groupby('transit')['date'].nunique().rename('line'),
            tract_panel.groupby('transit')['date'].nunique().rename('tract')],
            axis=1)
# This is ok too.

         point   line  tract
transit
bike     244.0    NaN  244.0
train    244.0  244.0  244.0
bus        NaN  244.0    NaN
uber       NaN    NaN  244.0