In [1]:
import pandas as pd

In [2]:
point_panel_in = "../data/interim/point_panel.parquet"
line_panel_in = "../data/interim/line_panel.parquet"
tract_panel_in = "../data/interim/tract_panel.parquet"

# Pipeline in

In [3]:
point_panel = pd.read_parquet(point_panel_in)
line_panel = pd.read_parquet(line_panel_in)
tract_panel = pd.read_parquet(tract_panel_in)

# Cardinality

## Units

In [4]:
pd.concat([point_panel.groupby('transit')['id'].nunique().rename('point'),
            line_panel.groupby('transit')['id'].nunique().rename('line'),
            tract_panel.groupby('transit')['id'].nunique().rename('tract')],
            axis=1)
# This is ok.

          point   line  tract
transit
bike     1653.0    NaN    655
train     144.0    8.0    114
uber     1295.0    NaN   1264
bus         NaN  127.0    879

## Date

In [5]:
pd.concat([point_panel.groupby('transit')['date'].nunique().rename('point'),
            line_panel.groupby('transit')['date'].nunique().rename('line'),
            tract_panel.groupby('transit')['date'].nunique().rename('tract')],
            axis=1)
# This is ok too.

         point   line  tract
transit
bike     244.0    NaN    244
train    244.0  244.0    244
uber     244.0    NaN    244
bus        NaN  244.0    244

# Nulls

In [6]:
# TODO: DEBUG:
# Where are these nulls coming from?
point_panel.groupby('transit')[['tract','lat','long']].agg(lambda x: x.isna().mean())

            tract     lat    long
transit
bike     0.002574  0.0000  0.0000
train    0.000000  0.0000  0.0000
uber     0.000000  0.0166  0.0166