**Purpose**

*This notebook introduces substantive modeling choices e.g.*
- data aggregation, 
- dropping missing data, 
- and coding more features

In [1]:
import pandas as pd
import statsmodels.api as sm
import numpy as np
import geopandas as gpd
from datetime import timedelta

from data.constants import DNC_START, DNC_END
from data.datemath import from_ymd, date_aggs, to_yw
from power import power_reg

In [2]:
point_panel_in = "../data/interim/point_panel.parquet"
line_panel_in = "../data/interim/line_panel.parquet"
tract_panel_in = "../data/interim/tract_panel.parquet"
chi_tracts_in = "../data/interim/tracts.geoparquet"

point_panel_out = "../data/final/point_panel.parquet"
line_panel_out = "../data/final/line_panel.parquet"
tract_panel_out = "../data/final/tract_panel.parquet"

# Pipeline In

In [3]:
point_panel = pd.read_parquet(point_panel_in)
line_panel = pd.read_parquet(line_panel_in)
tract_panel = pd.read_parquet(tract_panel_in)
chi_tracts = gpd.read_parquet(chi_tracts_in)['geoid10']

# Code Features

In [4]:
point_panel = point_panel.pipe(date_aggs, 'date')
line_panel = line_panel.pipe(date_aggs, 'date')
tract_panel = tract_panel.pipe(date_aggs, 'date')

In [5]:
# Substantive!
# There aren't enough data points within 400m or even 800m.
# In panel.ipynb we show that UC and MP have higher ridership than other
# places, and furthermore that the signal is stronger closer to UC and MP
# and reverts to the mean as the buffer size grows.
# Thus, using the largest buffer size attenuates and possibly confounds our
# signal with irrelevant rides, but is necessary to achieve a minimal sample
# of treated units.

def label_ucmp(df):
    df['UCMP'] = np.where((df['uc_1600'] > 0) | (df['mp_1600'] > 0), 1,0)
    return df.drop(columns=df.filter(regex='uc_|mp_').columns)

point_panel = point_panel.pipe(label_ucmp)
line_panel = line_panel.pipe(label_ucmp)
tract_panel = tract_panel.pipe(label_ucmp)

In [6]:
def label_weekends(df):
    df['weekend'] = df['daytype'].map({"W":0, "A": 1, "U": 1})
    return df

point_panel = point_panel.pipe(label_weekends)
line_panel = line_panel.pipe(label_weekends)
tract_panel = tract_panel.pipe(label_weekends)

In [7]:
def fillna(df, fills: dict):
    return df.assign(**{col: df[col].fillna(val) for col, val in fills.items()})

# Assert that null features are due to non-chicago tracts. 
# Let's impute correct values instead of dropping tracts outside of chicago (ie ubers and bike stations)
assert all(tract_panel['UCMP'].notna() | ~tract_panel['id'].isin(chi_tracts))
assert all(tract_panel['airport'].notna() | ~tract_panel['id'].isin(chi_tracts))
assert all(point_panel[['UCMP','airport']].notna().all(axis=1) |
         ((point_panel['transit']=='uber') & point_panel['tract'].notna()))

point_panel = point_panel.pipe(fillna, {'UCMP': 0, 'airport': 0})
line_panel = line_panel.pipe(fillna, {'UCMP': 0, 'airport': 0})
tract_panel = tract_panel.pipe(fillna, {'UCMP': 0, 'airport': 0})

In [8]:
def label_latlong(df):
    # Let's standardize lat/long because they are measured in millions of feet
    # So doing so helps keep the relative scale of X vs Y in check. 
    scale = lambda x: (x - x.mean()) / x.std()
    df['lat'] = scale(df['lat'])
    df['long'] = scale(df['long'])
    return df

point_panel = point_panel.pipe(label_latlong)
line_panel = line_panel.pipe(label_latlong)
tract_panel = tract_panel.pipe(label_latlong)

In [9]:
def binarize(df, col):
    return df.assign(**{col: df[col]*1.0})

point_panel = point_panel.pipe(binarize, 'DNC')
line_panel = line_panel.pipe(binarize, 'DNC')
tract_panel = tract_panel.pipe(binarize, 'DNC')

# Drop Data

In [10]:
# TODO DEBUG:
pd.concat([point_panel.groupby('transit')['id'].nunique().rename('point'),
            line_panel.groupby('transit')['id'].nunique().rename('line'),
            tract_panel.groupby('transit')['id'].nunique().rename('tract')],
            axis=1)

          point   line  tract
transit
bike     1653.0    NaN    655
train     144.0    8.0    114
uber     1295.0    NaN   1264
bus         NaN  127.0    879

In [11]:
# TODO DEBUG:
# Where are these nulls coming from?
point_panel.groupby('transit')[['tract','lat','long']].agg(lambda x: x.isna().mean())

            tract     lat    long
transit
bike     0.002574  0.0000  0.0000
train    0.000000  0.0000  0.0000
uber     0.000000  0.0166  0.0166

In [12]:
# TODO DEBUG:
# Where are these nulls coming from?
pd.concat([point_panel.isna().mean().rename('point'),
            line_panel.isna().mean().rename('line'),
            tract_panel.isna().mean().rename('tract')], axis=1) \
    [lambda x: (x!=0).any(axis=1)]

                 point      line  tract
tract         0.000680       NaN    NaN
lat           0.011357  0.016191    0.0
long          0.011357  0.016191    0.0
train_access       NaN       NaN    0.0
train_count        NaN       NaN    0.0
bike_access        NaN       NaN    0.0
bike_count         NaN       NaN    0.0
bus_access         NaN       NaN    0.0
bus_count          NaN       NaN    0.0
uber_access        NaN       NaN    0.0
uber_count         NaN       NaN    0.0

In [13]:
# XXX: FIX THIS UPSTREAM!!!!
# Dropping all nan columns FOR NOW because I don't feel like dealing with it.
# We can probably fix it all by getting all cook county census tracts instead of just chicago.

print("Dropping {} ({:.0%}) point rows".format(point_panel.isna().any(axis=1).sum(),point_panel.isna().any(axis=1).mean()))
print("Dropping {} ({:.0%}) line rows".format(line_panel.isna().any(axis=1).sum(),line_panel.isna().any(axis=1).mean()))
print("Dropping {} ({:.0%}) tract rows".format(tract_panel.isna().any(axis=1).sum(),tract_panel.isna().any(axis=1).mean()))
point_panel = point_panel.dropna()
line_panel = line_panel.dropna()
tract_panel = tract_panel.dropna()

Dropping 8173 (1%) point rows
Dropping 484 (2%) line rows
Dropping 0 (0%) tract rows

In [14]:
# TODO DEBUG:
pd.concat([point_panel.groupby('transit')['id'].nunique().rename('point'),
            line_panel.groupby('transit')['id'].nunique().rename('line'),
            tract_panel.groupby('transit')['id'].nunique().rename('tract')],
            axis=1)

          point   line  tract
transit
bike     1651.0    NaN    655
train     144.0    8.0    114
uber     1264.0    NaN   1264
bus         NaN  125.0    879

In [15]:
# XXX: Substantive!! 
#      Taking all weeks in June, July, August
MODEL_PRE_WEEKS = 11
MODEL_POST_WEEKS = 1

model_start_yearweek = to_yw(from_ymd(DNC_START) - timedelta(weeks=MODEL_PRE_WEEKS))
model_end_yearweek = to_yw(from_ymd(DNC_END) + timedelta(weeks=MODEL_POST_WEEKS))

point_panel = point_panel[point_panel['year-week'].between(model_start_yearweek, model_end_yearweek)]
line_panel = line_panel[line_panel['year-week'].between(model_start_yearweek, model_end_yearweek)]
tract_panel = tract_panel[tract_panel['year-week'].between(model_start_yearweek, model_end_yearweek)]

In [16]:
# TODO DEBUG:
pd.concat([point_panel.groupby('transit')['id'].nunique().rename('point'),
            line_panel.groupby('transit')['id'].nunique().rename('line'),
            tract_panel.groupby('transit')['id'].nunique().rename('tract')],
            axis=1)

          point   line  tract
transit
bike     1585.0    NaN    647
train     144.0    8.0    114
uber     1254.0    NaN   1254
bus         NaN  124.0    879

# Aggregate

In [17]:
def model_agg(df):
    unit_aggs = {k: 'first' for k in ['transit','UCMP','airport','lat','long']}
    time_aggs = {'rides':'sum','DNC':'max', 'weekend': 'max'}  
    # weekend is constant for weekly model but we just won't include it in the model spec
    df_weekly = df.groupby(['year-week','id'], as_index=False).agg(unit_aggs | time_aggs)
    df_daily = df.groupby(['date','id'], as_index=False).agg(unit_aggs | time_aggs)
    return df_weekly, df_daily

point_panel_weekly, point_panel_daily = model_agg(point_panel)
line_panel_weekly, line_panel_daily = model_agg(line_panel)
tract_panel_weekly, tract_panel_daily = model_agg(tract_panel)

In [18]:
# TODO DEBUG:
pd.concat([point_panel_daily.groupby('transit')['id'].nunique().rename('point'),
            line_panel_daily.groupby('transit')['id'].nunique().rename('line'),
            tract_panel_daily.groupby('transit')['id'].nunique().rename('tract')],
            axis=1)

          point   line  tract
transit
bike     1585.0    NaN     10
train     144.0    8.0      9
uber     1254.0    NaN    399
bus         NaN  124.0    879

# Choose and Justify Agg

Monthly: obviously stupid. attenuates treatment too much.

Weekly: we have 4/7 days of the week in the DNC. and no weekend days actually.
so we attenuate our signal by 3/7. 

Daily: we have more trouble modeling dotw variation. (maybe not an issue after eliminating weekends)

## with non-treatment model

In [19]:
def partial_r2(full, reduced, full_name, reduced_name):
    better = max(full.rsquared, reduced.rsquared)
    worse = min(full.rsquared, reduced.rsquared)
    partial = (better - worse) / (1 - worse)  # Proportion of unexplained variance explained by better model.
    better_name = full_name if full.rsquared > reduced.rsquared else reduced_name
    print("better model = {}, R2 = {:.3f}, partial R2 = {:.3f}".format(better_name, better, partial))

In [20]:
# Compute the partial R2 of weekly vs daily. Only include non-treatment regressors.
formula = "np.log1p(rides) ~ transit + (lat + long)**2 + I(lat**2) + I(long**2)"
full = sm.OLS.from_formula(formula, point_panel_daily).fit()
reduced = sm.OLS.from_formula(formula, point_panel_weekly).fit()
partial_r2(full, reduced, "daily", "weekly")
# The weekly model actually has a slightly higher R2, 
# meaning we're not great at explaining DOTW variation.

better model = weekly, R2 = 0.663, partial R2 = 0.145

In [21]:
# Power analysis:
DNC_ATTEND = 5e4
effect_sum = 4 * 2 * DNC_ATTEND  # days in event * rides per day * attendees

pd.concat([power_reg(full, np.log1p(effect_sum/len(point_panel_daily))).rename('daily'),
           power_reg(reduced, np.log1p(effect_sum/len(point_panel_weekly))).rename('weekly')],axis=1) \
        .assign(ratio=lambda x: x['weekly']/x['daily'])
# The daily model has smaller residual variance but identical power achieved.

                     daily      weekly     ratio
mean              3.720179    4.794012  1.288651
std               1.240075     1.46043  1.177694
mde               0.008224    0.022916  2.786454
effect_size       1.176001    2.606198  2.216153
power_achieved         1.0         1.0       1.0
t_stat          400.618754  318.624448  0.795331
is_detectable         True        True       1.0

## with treatment model

In [22]:
# Compute the partial R2 of weekly vs daily. 
formula = "np.log1p(rides) ~ DNC * transit + (lat + long)**2 + I(lat**2) + I(long**2)"
full = sm.OLS.from_formula(formula, point_panel_daily).fit()
reduced = sm.OLS.from_formula(formula, point_panel_weekly).fit()
partial_r2(full, reduced, "daily", "weekly")
# The weekly model actually has a slightly higher R2, 
# meaning we're not great at explaining DOTW variation.

better model = weekly, R2 = 0.663, partial R2 = 0.145

In [23]:
pd.concat([power_reg(full, np.log1p(effect_sum/len(point_panel_daily)), "DNC").rename('daily'),
           power_reg(reduced, np.log1p(effect_sum/len(point_panel_weekly)), "DNC").rename('weekly')],axis=1) 
# The standard errors are smaller on the daily model but achieved effect size is net the same,
# probably because we didn't change the effect delta but scaled down the nobs and effect size
# by the same amount.

                      daily        weekly
mean                    0.0           0.0
std                0.021995      0.046448
mde                0.000146      0.000729
effect_size        1.176001      2.606198
power_achieved          1.0           1.0
t_stat          22586.93414  10018.328957
is_detectable          True          True

I think we'll keep the daily observations because it gives us more flexibility to 
switch to alternative treatment specifications (buffer or event study) later on.

# Pipeline Out

In [24]:
# TODO DEBUG:
pd.concat([point_panel_daily.groupby('transit')['id'].nunique().rename('point'),
            line_panel_daily.groupby('transit')['id'].nunique().rename('line'),
            tract_panel_daily.groupby('transit')['id'].nunique().rename('tract')],
            axis=1)

          point   line  tract
transit
bike     1585.0    NaN     10
train     144.0    8.0      9
uber     1254.0    NaN    399
bus         NaN  124.0    879

In [25]:
point_panel_daily.to_parquet(point_panel_out, index=False)
line_panel_daily.to_parquet(line_panel_out, index=False)
tract_panel_daily.to_parquet(tract_panel_out, index=False)